version: '3.8'
services:
  backend:
    build: .
    env_file: .env
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    volumes:
      - ./uploads:/usr/src/app/uploads
  mongo:
    image: mongo:6.0
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
volumes:
  mongo_data:
